    body {
        background-color: rgb(43, 45, 46);
    }

    h1, h2 {
        text-align: center;
        color: rgb(245, 237, 237);
    }
     
    p {
        color: rgb(239, 236, 236);
    }

    header {
        width: 100%;
        background-color: rgb(181, 174, 169);
    }

    .logo {
        color: rgb(12, 9, 9);
        text-align: center;
        font-size: 1.4em;
    }

    nav {
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 1.4em;
    }

    .banner {
        width: 100%;
    }

    .container {
        background-color: rgb(63, 67, 67);
        width: 80%;
        margin: auto;
    }

    footer {
        background-color: rgb(181, 174, 169);
        color: black;
        font-size: 1.3em;
        text-align: center;
    }

    h3 {
        color: white;
    }



    