    html{
        scroll-behavior: smooth;
    }
    
    body{
        background-image: url(../img/background2.jpg);
        background-attachment: fixed;
        line-height: 1.5;
        font-family: 'Roboto Mono', monospace;
    }

    p{
        color: rgb(239, 236, 236);
        text-align: justify;
        text-indent: 15px;
        font-size: 1.1em;
    }

    header{
        width: 100%;
        background-color: rgb(38, 36, 126);
        font-size: 0.8em;
    }

    .logo{
        color: rgb(12, 9, 9);
        text-align: center;
        font-size: 1.4em;
    }

    nav{
        color: rgb(41, 38, 107);
        text-align: center;
        font-size: 1.4em;
        padding-bottom: 1.5%;
    }

    figure{
        text-align: center;
        margin-top: 3.3%;
        padding-top: 1.4%;
    }

    .banner{
        width: 70%;
    }

    .container{
        width: 80%;
        margin: auto;
        font-size: 1.1em;
    }

    footer{
        background-color:  rgb(41, 38, 107);
        color: rgb(239, 236, 236);
        font-size: 1.3em;
        text-align: left;
        padding-bottom: 1.2%;
        padding-top: 1.2%;
    }

    h3{
        color: white;
    }

    #mapa{
        width: 100%;
    }

    section{
        padding-top: 1.5%;
        padding-bottom: 1.8%;
        background-color: rgb(41, 38, 107);
        padding-left: 2%;
        padding-right: 2%;
        margin-top: 7%;
        margin-bottom: 7%;
    }


    h1{
        color: rgb(239, 236, 236);
        font-size: 1.4em;
        text-align: center;
        font-weight: bold;

    }

    li {
        color: white;
    }


    h3 {
        color: white;
        font-weight: bold;
        text-decoration: underline;
    }

    #git {
        width: 5%;
        padding-top: 1%;
    }

  .imgdir{
    float: right;
  }
  .imgtam{
    padding: 1.7%;
  }