    body {
        background-image: url(../img/background2.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100%;
        line-height: 1.5;
        font-family: 'Roboto Mono', monospace;
        font-size: 1.1em;
    }

    p {
        color: rgb(239, 236, 236);
        text-align: justify;
        text-indent: 15px;
    }

    header {
        width: 100%;
        background-color: rgb(38, 36, 126);
    }

    .logo {
        color: rgb(12, 9, 9);
        text-align: center;
        font-size: 1.4em;
    }

    nav {
        color: rgb(41, 38, 107);
        text-align: center;
        font-size: 1.4em;
    }

    figure {
        text-align: center;
        margin-top: 3.3%;
    }

    .banner {
        width: 90%;
    }

    .container {
        width: 80%;
        margin: auto;
    }

    footer {
        background-color:  rgb(41, 38, 107);
        color: rgb(239, 236, 236);
        font-size: 1.3em;
        text-align: center;
        padding-bottom: 1.5%;
        padding-top: 1.5%;
    }

    h3 {
        color: white;
    }

    #mapa {
        width: 100%;
    }

    section {
        padding-top: 1.8%;
        padding-bottom: 1.8%;
        background-color: rgb(41, 38, 107);
        padding-left: 2%;
        padding-right: 2%;
        margin-top: 10%;
        margin-bottom: 10%;
    }


    h1 {
        color: rgb(239, 236, 236);
        font-size: 1.4em;
        text-align: center;
        font-weight: bold;

    }

    li {
        color: white;
    }


    h3 {
        color: white;
        font-weight: bold;
        text-decoration: underline;
    }